In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('titanic_output_logit.csv')

In [3]:
data.head()

   PassengerId  Survived  Survived.1
0          892         0           0
1          893         0           0
2          894         0           0
3          895         0           0
4          896         1           0

In [9]:
ans = data['Survived'] | data['Survived.1']

In [12]:
passe = data.iloc[:,[0]]
out = pd.concat([passe,ans],axis = 1)

In [15]:
out.to_csv('submission6.csv')