In [1]:
import pandas as pd
import numpy as np
import seaborn as sb
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('titanic_train.csv',index_col = 0)

In [3]:
data.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [103]:
y = data.iloc[:,[0]]
sex = data.iloc[:,[3]]
sex.replace(to_replace={"male","female"},value={0,1},inplace=True)
age = data.iloc[:,[4]]
fare = data.iloc[:,[8]]
sib_sp = data.iloc[:,[5]]
embarked = data.iloc[:,[10]]
embarked.replace(to_replace={"S","C","Q"},value={0,1,2},inplace=True)
pclass = data.iloc[:,[1]]

C:\Users\Gaurav Mitra\Anaconda2\lib\site-packages\ipykernel\__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
C:\Users\Gaurav Mitra\Anaconda2\lib\site-packages\ipykernel\__main__.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [114]:
x_train = pd.concat([sex,age,fare,sib_sp,embarked,pclass],axis = 1)

In [115]:
x_train = x_train.fillna(x_train.mean())
x_train.head()

             Sex   Age     Fare  SibSp  Embarked  Pclass
PassengerId
1              0  22.0   7.2500      1       2.0       3
2              1  38.0  71.2833      1       1.0       1
3              1  26.0   7.9250      0       2.0       3
4              1  35.0  53.1000      1       2.0       1
5              0  35.0   8.0500      0       2.0       3

In [116]:
from sklearn.cross_validation import train_test_split

In [117]:
X_train,X_test,y_train,y_test = train_test_split(x_train,y,random_state = 10)

In [118]:
from sklearn.naive_bayes import MultinomialNB

In [119]:
nb = MultinomialNB()
nb.fit(X_train,y_train)

C:\Users\Gaurav Mitra\Anaconda2\lib\site-packages\sklearn\utils\validation.py:515: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [120]:
y_pred = nb.predict(X_test)

In [121]:
from sklearn.metrics import accuracy_score

In [122]:
err = accuracy_score(y_test,y_pred)

In [123]:
print err

0.7533632287

In [124]:
nb1 = MultinomialNB()
nb1.fit(x_train,y)

C:\Users\Gaurav Mitra\Anaconda2\lib\site-packages\sklearn\utils\validation.py:515: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [129]:
data_t = pd.read_csv('titanic_test.csv',index_col = 0)
data_t.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,
892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [142]:
sex_y = data_t.iloc[:,[2]]
sex_y.replace(to_replace={"male","female"},value={0,1},inplace=True)
age_y = data_t.iloc[:,[3]]
fare_y = data_t.iloc[:,[7]]
sib_sp_y = data_t.iloc[:,[4]]
embarked_y = data_t.iloc[:,[9]]
embarked_y.replace(to_replace={"S","C","Q"},value={0,1,2},inplace=True)
pclass_y = data_t.iloc[:,[0]]

C:\Users\Gaurav Mitra\Anaconda2\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
C:\Users\Gaurav Mitra\Anaconda2\lib\site-packages\ipykernel\__main__.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [143]:
x_test = pd.concat([sex_y,age_y,fare_y,sib_sp_y,embarked_y,pclass_y],axis = 1)
x_test.head()
x_test = x_test.fillna(x_test.mean())

In [158]:
y_pred_test = nb1.predict(x_test)
y_pred_t = pd.Series(y_pred_test)

In [159]:
y_index = (pd.read_csv('titanic_test.csv')).iloc[:,[0]]

In [160]:
output = pd.concat([y_index,y_pred_t],axis = 1)

In [162]:
output.head()

   PassengerId  0
0          892  0
1          893  0
2          894  0
3          895  0
4          896  0